@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-error: var(--error);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-binder-toolbar: var(--binder-toolbar);
  --color-binder-toolbar-foreground: var(--binder-toolbar-foreground);
  --color-binder-toolbar-input: var(--binder-toolbar-input);
}

:root {
  --radius: 0.625rem;
  --background: #fde9c9;
  --foreground: #343434;
  --card: #2d4059;
  --card-foreground: #fde9c9;
  --popover: #fde9c9;
  --popover-foreground: #343434;
  --primary: #ea5455;
  --primary-foreground: #343434;
  --secondary: #e4c89c;
  --secondary-foreground: #343434;
  --muted: #ecd7b5;
  --muted-foreground: #66523b;
  --accent: #ea5455;
  --accent-foreground: #343434;
  --destructive: #ea5455;
  --border: #d4b78a;
  --input: #d4b78a;
  --ring: #ea5455;
  --binder-toolbar: #c89f68;
  --binder-toolbar-foreground: #343434;
  --binder-toolbar-input: #e6c693;

  --error: #ea5455;
  --success: #2d4059;
  --info: #2d4059;
  --warning: #8c704d;

  --chart-1: #ea5455;
  --chart-2: #2d4059;
  --chart-3: #2d4059;
  --chart-4: #8c704d;
  --chart-5: #343434;
  --sidebar: #2d4059;
  --sidebar-foreground: #fde9c9;
  --sidebar-primary: #ea5455;
  --sidebar-primary-foreground: #343434;
  --sidebar-accent: #fde9c9;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #fde9c9;
  --sidebar-ring: #ea5455;
}

.dark {
  --background: #fde9c9;
  --foreground: #343434;
  --card: #2d4059;
  --card-foreground: #fde9c9;
  --popover: #fde9c9;
  --popover-foreground: #343434;
  --primary: #ea5455;
  --primary-foreground: #343434;
  --secondary: #e4c89c;
  --secondary-foreground: #343434;
  --muted: #ecd7b5;
  --muted-foreground: #66523b;
  --accent: #ea5455;
  --accent-foreground: #343434;
  --destructive: #ea5455;
  --border: #d4b78a;
  --input: #d4b78a;
  --ring: #ea5455;
  --binder-toolbar: #c89f68;
  --binder-toolbar-foreground: #343434;
  --binder-toolbar-input: #e6c693;
  --chart-1: #ea5455;
  --chart-2: #2d4059;
  --chart-3: #2d4059;
  --chart-4: #8c704d;
  --chart-5: #343434;
  --sidebar: #2d4059;
  --sidebar-foreground: #fde9c9;
  --sidebar-primary: #ea5455;
  --sidebar-primary-foreground: #343434;
  --sidebar-accent: #fde9c9;
  --sidebar-accent-foreground: #343434;
  --sidebar-border: #fde9c9;
  --sidebar-ring: #ea5455;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .h1 {
    @apply text-3xl font-bold tracking-tight;
  }
  .h2 {
    @apply text-2xl font-semibold leading-none tracking-tight;
  }
  .h3 {
    @apply text-lg font-medium;
  }
}
